<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dist-sensor.local</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

    <style>
        .error {
            color: red
        }

        * {
            font-size: 120%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <div v-if="error" class="error">
                <label>error</label>{{ error }}
            </div>

            <div v-if="distance !== null">
                <label>curr</label>{{ distance.toFixed(3) }} mm
            </div>

            <button @click="start" v-if="!running">START</button>
            <button @click="stop" v-if="running">STOP</button>

            <div v-if="minDist !== null">
                <label>min</label>{{ minDist.toFixed(3) }} mm
            </div>
            <div v-if="maxDist !== null">
                <label>max</label>{{ maxDist.toFixed(3) }} mm
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>

</html>